.btn {
    background-color: $colorPrincipal;

    &:hover {
        background-color: $colorPrincipal;
        transform: scale(1.1);
    }
}

.form-check-input {

    .form-switch &:focus {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23525151' /%3e%3c/svg%3e");
    }

    .form-switch &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23fff' /%3e%3c/svg%3e");
    }

    &:focus {
        border-color: #525151;
        box-shadow: 0 0 0 .25rem rgba(3, 3, 3, 0.25);
    }

    &:checked {
        background-color: $colorPrincipal;
        border-color: $colorPrincipal;
    }
}