.navbar {
    background-color: $colorPrincipal;

    .navbar-brand {
        height: 90px;
        width: 100px;
        background-image: url(../assets/logo_transparent.png);
        background-size: cover;
    }

    .li {
        color: $colorSecundario
    }
    
}