.navbar {
    background-color: $colorPrincipal;

    .navbar-brand {
        height: 90px;
        width: 250px;
        background-image: url(../assets/logo_transparent.png);
        background-size: cover;
    }

    .li {
        color: $colorSecundario
    }
    
}

.b-b {
    border-bottom: solid 2px $colorSecundario;

}