@media screen and (max-width: 480px) {

    .categories-t {
        display: none;
    }

    #carrusel {
        height: 300px;
    }

    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    #nuevo,
    #vendidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #nuevo>div {
        margin-bottom: 1rem;
    }


    #cards>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    footer {
        font-size: 10px;
        padding: 1rem;
        justify-content: space-around
    }

    .filtrar {
        border: none;
    }

    .filtro {
        display: none;
    }

    .banner-invierno {
        display: none;
    }

    .producto {
        .bi-heart {
            color: #e70909c0;
        }

        .bi-cart {
            color: #002ca39c;
        }

        .bi-heart,
        .bi-cart,
        .talle {
            opacity: 1;
        }
    }

    .img-n {
        height: 200px;
        margin-top: 25px;
        margin-left: 12px;
    }

    iframe {
        height: 200px;
        width: 100%;
    }

    #productos-t,
    #productos-o {
        justify-content: center !important;
    }
}

@media screen and (max-width: 768px) {

    #nuevo,
    #vendidos {
        div {
            margin: 5px;
        }
    }

    .filtrar {
        border: none;
    }

    .filtro {
        display: none;
    }

    .banner-invierno {
        display: none;
    }

    .producto {
        .bi-heart {
            color: #e70909c0;
        }

        .bi-cart {
            color: #002ca39c;
        }

        .bi-heart,
        .bi-cart,
        .talle {
            opacity: 1;
        }
    }

    .img-n {
        height: 230px;
        margin-top: 25px;
        margin-left: 12px;
    }

    iframe {
        height: 200px;
        width: 100%;
    }

    .bg-i {

        .div-i {
            height: 50%;
        }
    }
}