@import "./reset";
@import "./variables";
@import "./buttons";
@import "./header";
@import "./index/index";
@import "./footer";
@import "./productos";
@import "./tienda/tienda";
@import "./ofertas/ofertas";
@import "./nosotros/nosotros";
@import "./ingresar/ingresar";
@import "./registrarse/registrarse";
@import "./queries";
