* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn {
  background-color: #000;
}
.btn:hover {
  background-color: #000;
  transform: scale(1.1);
}

.form-check-input { /* No es generico, se aplica los input de tiendas y ofertas */ }
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23525151' /%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23fff' /%3e%3c/svg%3e");
}
.form-check-input:focus {
  border-color: #525151;
  box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
}
.form-check-input:checked {
  background-color: #000;
  border-color: #000;
}

.navbar {
  background-color: #000;
}
.navbar .navbar-brand {
  height: 90px;
  width: 250px;
  background-image: url(../assets/logo_transparent.png);
  background-size: cover;
}
.navbar .li {
  color: #fff;
}

.b-b {
  border-bottom: solid 2px #fff;
}

.carousel-inner {
  height: 500px;
}
.carousel-inner img {
  width: 100%;
  max-height: 500px;
}

.nav-item {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.bg-card {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.bi-clock,
.bi-shield-check,
.bi-emoji-sunglasses {
  font-size: 2rem;
}

footer {
  background-color: #000;
  height: 6rem;
}
footer .bi-facebook {
  color: #3b5998;
}
footer .bi-instagram {
  color: #c13584;
}
footer .bi-twitter {
  color: #00acee;
}
footer .bi-paypal {
  color: #003087;
}
footer .bi-credit-card-fill {
  color: #ff9900;
}

.bi-facebook,
.bi-instagram,
.bi-twitter {
  margin: 10px;
}
.bi-facebook:hover,
.bi-instagram:hover,
.bi-twitter:hover {
  opacity: 0.6;
}

.bi-paypal,
.bi-credit-card-fill {
  margin: 10px;
  font-size: 18px;
  color: #fff;
}
.bi-paypal:hover,
.bi-credit-card-fill:hover {
  opacity: 0.6;
}

.aviso {
  list-style: none;
}
.aviso a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
}
.aviso a:hover {
  opacity: 0.6;
}

.producto {
  display: flex;
  flex-flow: column;
  width: 200px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  cursor: pointer;
}
.producto:hover {
  -webkit-box-shadow: 0px 0px 14px 0px #000000;
  box-shadow: 0px 0px 14px 0px #000000;
  transition-duration: 0.4s;
}
.producto .img-box {
  width: 100%;
  object-fit: cover;
}
.producto .descripcion {
  display: flex;
  flex-flow: column;
  border-top: 1px solid rgba(75, 74, 74, 0.337254902);
  text-align: center;
}
.producto .tipo {
  font-size: 21px;
  color: #838080;
}
.producto .precio {
  font-size: 23px;
  font-weight: bold;
  color: #2e8826;
}
.producto .talle {
  background-color: rgba(0, 0, 0, 0.662745098);
  color: #fff;
  font-size: 18px;
  opacity: 0;
}
.producto:hover .talle, .producto:hover .bi-cart, .producto:hover .bi-heart {
  opacity: 1;
}
.producto .bi-heart,
.producto .bi-cart {
  font-size: 21px;
  opacity: 0;
}
.producto .bi-heart:hover {
  color: rgba(231, 9, 9, 0.7529411765);
  transform: scale(1.1);
}
.producto .bi-cart:hover {
  color: rgba(0, 44, 163, 0.6117647059);
  transform: scale(1.1);
}

.tachado { /* ofertas */
  text-decoration: line-through;
  font-size: 18px;
  color: rgba(95, 93, 93, 0.6039215686);
}

.filtrar {
  border: 2px solid #d8d3d3;
}
.filtrar .categories-t a {
  text-decoration: none;
  color: #000;
}
.filtrar .categories-t .categoria:hover {
  transform: scale(1.1);
}

.page-link {
  color: #000;
}
.page-link:hover {
  color: #000;
}

.banner-invierno {
  height: 80px;
  margin-top: 30px;
  background-image: url(../assets/oferta-invierno.jpg);
  background-repeat: cover;
}
.banner-invierno span {
  padding-left: 10%;
  font-size: 64px;
  color: #fff;
  font-family: cursive;
  font-weight: bold;
}

.form-select {
  cursor: pointer;
}

.img-n {
  height: 60vh;
}

.f-n {
  font-size: 18;
}

.acordeon {
  width: 80%;
}

.consulta {
  width: 70%;
}
.consulta textarea {
  resize: none;
}

iframe {
  height: 50vh;
}

.bg-i {
  background-image: url(../assets/group.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: auto;
}
.bg-i .div-i {
  width: 20rem;
  height: 70%;
  margin-top: 5rem;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.5215686275);
  border-radius: 5px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.5294117647);
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.5294117647);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.5294117647);
}
.bg-i .btn-i {
  display: flex;
  justify-content: space-around;
}
.bg-i .btn-i .btn {
  background-color: #000;
}
.bg-i .btn-i .btn:hover {
  background-color: #000;
}
.bg-i .btn-r {
  color: #fff;
  text-decoration: none;
}

.google, .facebook {
  width: 140px;
  height: 40px;
  background-color: #b93030;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}
.google:hover, .facebook:hover {
  background-color: #fff;
  color: #b93030;
}

.facebook {
  background-color: #123fd6;
}
.facebook:hover {
  background-color: #fff;
  color: #123fd6;
}
.facebook .bi-facebook {
  color: #fff;
}

.bg-r {
  background-image: url(../assets/group.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}
.bg-r .div-r {
  width: 25rem;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.5215686275);
  border-radius: 5px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.5294117647);
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.5294117647);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.5294117647);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.bg-r .div-r .info {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .categories-t {
    display: none;
  }
  #carrusel {
    height: 300px;
  }
  .carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    display: none;
  }
  #nuevo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #nuevo > div {
    margin-bottom: 1rem;
  }
  #cards > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  footer {
    font-size: 10px;
    padding: 1rem;
    justify-content: space-around;
  }
  .filtrar {
    border: none;
  }
  .filtro {
    display: none;
  }
  .banner-invierno {
    display: none;
  }
  .producto .bi-heart {
    color: rgba(231, 9, 9, 0.7529411765);
  }
  .producto .bi-cart {
    color: rgba(0, 44, 163, 0.6117647059);
  }
  .producto .bi-heart,
.producto .bi-cart,
.producto .talle {
    opacity: 1;
  }
  .img-n {
    height: 200px;
    margin-top: 25px;
    margin-left: 12px;
  }
  iframe {
    height: 200px;
    width: 100%;
  }
  #productos-t,
#productos-o {
    justify-content: center !important;
  }
}
@media screen and (max-width: 768px) {
  #nuevo div {
    margin: 5px;
  }
  .filtrar {
    border: none;
  }
  .filtro {
    display: none;
  }
  .banner-invierno {
    display: none;
  }
  .producto .bi-heart {
    color: rgba(231, 9, 9, 0.7529411765);
  }
  .producto .bi-cart {
    color: rgba(0, 44, 163, 0.6117647059);
  }
  .producto .bi-heart,
.producto .bi-cart,
.producto .talle {
    opacity: 1;
  }
  .img-n {
    height: 230px;
    margin-top: 25px;
    margin-left: 12px;
  }
  iframe {
    height: 200px;
    width: 100%;
  }
  .bg-i .div-i {
    height: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
