$redes: (
    facebook: #0142a3,
    instagram: #c13584,
    twitter: #0888ff,

);

$informacion: (
    fondo: $colorPrincipal,
    color: $colorSecundario,
    posicion: center,
    font: bold,
    sfont: 18px,
)
