/*------------- * Universal-------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "OpenSans-Regular.ttf";
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular.ttf";
  src: url(../fonts/static/OpenSans/OpenSans-Regular.ttf);
}

/*---------cambiar las fuentes de los title, ser mas especifico-------*/


.grid {
  display: grid;
  grid-template-areas: 'header'
    'info'
    'offers'
    'shop'
    'login'
    'footer';
  grid-template-rows: 10% 20% 20% 20% 20% 10%;

}

header {
  grid-area: header;
  min-height: 100px;
  width: 100%;
}

.logo {
  width: 200px;
  height: 200px;
  margin-top: -45px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -90px;
}

.menu-entry {
  margin-left: 20px;
  margin-right: 15px;
  text-decoration: none;
  font-family: "PTSansNarrow-regular";
  font-size: 21px;
}

.inverse-color-text,
.inverse-color-hoverable,
.standard-color-hoverable:hover {
  color: #000000;
}

.inverse-color-bg,
.inverse-color-hoverable,
.standard-color-hoverable:hover {
  background-color: #ffc300;
}


footer {
  grid-area: footer;
  width: 100%;
}

/*------------checkear el footer, hay que ajustar-----------*/

hr {
  border: solid 2px #ffc300;
}

.article-common {
  width: 100%;
  height: 500px;
}

.parallax-index {
  background: #ffc300 fixed no-repeat 50% 50%;
  background-size: cover;
}

#articleIndexUno {
  grid-area: info;
  background-image: url(../assets/ArticleIndexUno.jpg);
}

#articleIndexDos {
  grid-area: shop;
  background-image: url(../assets/ArticleIndexDos.jpg);
}

#articleIndexTres {
  grid-area: login;
  background-image: url(../assets/ArticleIndexTres.jpg);
}

/*------------Posible cambio en las imgenes--------------*/

#offers {
  grid-area: offers;
}

.img-offers-index {
  display: block;
  width: 100%;
  height: 500px;
}

.h-centered {
  position: relative;
  text-align: center;
}

.article-font {
  font-size: 26px;
}

.v-40 {
  position: relative;
  top: 40%;
}

p {
  display: inline-block;
  font-size: 26px;
}

.v-50 {
  position: relative;
  top: 50%;
}

.h-centered-spaced>* {
  margin-left: 40px;
  margin-right: 40px;
}

.standard-color-text,
.standard-color-hoverable,
.inverse-color-hoverable:hover {
  color: #ffc300;
}

.standard-color-bg,
.standard-color-hoverable,
.inverse-color-hoverable:hover {
  background-color: #000000;
}

.follow-us {
  font-size: 12px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.row {
  display: grid;
  grid-auto-flow: column;
}

.row a {
  align-self: center;
  margin: auto;

}

.sns-button {
  font-size: 22px;
}

.sns-button>*:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

#m-shop {
  display: grid;
  grid-template-areas: 'header header'
    'filter  hoodies'
    'filter jeans'
    'filter shoes'
    'footer footer';
  grid-template-columns: 20% 80%;
}

.filter {
  grid-area: filter;
  background-color: #ffc300;
  text-align: center;
  line-height: 50px;
}

.filter ul {
  margin-top: 30%;
  list-style: none;
}

.btn-filter:hover {
  font-size: 21px;
  border-bottom: 1px solid black;
}

.hoodies {
  grid-area: hoodies;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e6e2a1;
  border-top: 2px solid #ffc300;
}

.jeans {
  grid-area: jeans;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e6e2a1;
  border-top: 2px solid #ffc300;
}

.shoes {
  grid-area: shoes;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e6e2a1;
  border-top: 2px solid #ffc300;
}

.justify-center {
  justify-content: center;

}

.img-box {
  height: 150px;
  width: 150px;
  margin: 40px;
  border-radius: 5px;
}

.img-box:hover {
  opacity: 0.8;
  transform: scale(1.2);
  box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s;
}

.deals-container {
  font-size: 21px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: right;
}

.left-aligned {
  text-align: left;
  margin-top: 100px;
  margin-left: 30px;
  max-width: 50%;
}

.img-about-us {
  height: 350px;
  width: 350px;
}

.right-aligned-abs {
  position: absolute;
  left: 0;
  margin-top: 50px;
  margin-left: 70%;
  margin-right: 50px;
}

#iframe {
  top: 80px;
  width: 400px;
  height: 300px;
}

/*cambiar*/


.light-bg {
  background-color: #e6e2a1;
  resize: none;
}

.right-align {
  font-size: 18px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: end;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.button {
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  border: #000000 solid 1px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.button-small {
  padding: 5px;
  font-size: 18px;
  height: 35px;
}

.register {
  background-image: url(/assets/register-shop.jpg);
  background-size: cover;
  opacity: 1;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.register-form {
  width: 30%;
  height: 80%;
  margin-top: 5%;
  padding: 1%;
  background-color: #7a7979ce;
  border: solid 5px;
  border-image: linear-gradient(to right, #f7d200, #000) 1;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);

}

.register-form h4 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(left top, #000, #f7d200);
  background: linear-gradient(to bottom right, #000, #f7d200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border: solid 3px;
  border-image: linear-gradient(to right, #f7d200, #000) 1;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.register-form p {
  font-size: 15px;
  font-weight: bold;  
}

.register-form a {
  font-style: italic;
  color: #f7d200;
}

.btn-register {
  height: 50px;
  width: 50%;
  background-color: #f7d200;
  font-size: 24px;
  font-weight: bold;
  padding-left: 12%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 20px;
}

.btn-register:hover {
  background-color: #000;
  color: #f7d200;
}

input:focus {
  outline: none;
}
  






















@media screen and (max-width: 480px) {

  .logo {
    height: 100px;
    width: 100px;
    margin-top: 0;
  }

  .menu {
    padding-top: 55px;

  }

  .article-font {
    font-size: 18px;
  }

  #m-shop {
    grid-template-areas: 'header'
      'hoodies'
      'jeans'
      'shoes'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 10% 26.66% 26.66% 26.66% 10%;
  }

  .filter {
    display: none;
  }

  .row {
    overflow: hidden;
  }

  .row-img {
    display: grid;
  }

  .img-box {
    height: 300px;
    width: 300px;
  }

}