* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-negro {
    background-color: #000;
}

.nav,
.ul,
.li {
    color: #fff
}

.navbar-brand {
    height: 90px;
    width: 100px;
    background-image: url(../assets/logo_transparent.png);
    background-size: cover;
}

.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner {
    height: 600px;
}


.btn-dark:hover {
    transform: scale(1.1);
}

.bg-card {
    background-color: #000;
    color: #fff;
}

.bi-clock,
.bi-shield-check,
.bi-emoji-sunglasses {
    font-size: 36px;
}

.categoria:hover {
    transform: scale(1.1);
}

.categories-t ul li {
    list-style: none;
}

.categories-t ul li a {
    text-decoration: none;
    color: #000;
}

.producto {
    display: flex;
    flex-flow: column;
    width: 200px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    cursor: pointer;
}

.producto:hover {
    -webkit-box-shadow: 0px 0px 14px 0px #000000;
    box-shadow: 0px 0px 14px 0px #000000;
    transition-duration: 0.4s;
}

.img-box {
    width: 100%;
    object-fit: cover;
}

.descripcion {
    display: flex;
    flex-flow: column;
    border-top: 1px solid rgba(75, 74, 74, 0.336);
    text-align: center;
}

.tipo {
    font-size: 21px;
    color: rgb(131, 128, 128);
}

.precio {
    font-size: 23px;
    font-weight: bold;
    color: rgb(46, 136, 38);
}

.talle {
    background-color: rgba(0, 0, 0, 0.664);
    color: #fff;
    font-size: 18px;
    opacity: 0;
}

.producto:hover .talle {
    opacity: 1;
    transition-duration: 0.4s;

}

.bi-heart {
    font-size: 21px;
    opacity: 0;
}

.bi-heart:hover {
    color: rgba(231, 9, 9, 0.753);
    transform: scale(1.1);
}

.bi-cart {
    font-size: 21px;
    opacity: 0;
}

.bi-cart:hover {
    color: rgba(0, 44, 163, 0.61);
    transform: scale(1.1);
}

.producto:hover .bi-heart,
.producto:hover .bi-cart {
    opacity: 1;

}

.page-link {
    color: #000;
}

.page-link:hover {
    color: #000;
}

.banner-invierno {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    background-image: url(../assets/oferta-invierno.jpg);
    background-repeat: cover;
}

.banner-invierno span {
    padding-left: 10%;
    font-size: 64px;
    color: #fff;
    font-family: cursive;
    font-weight: bold;
}

.tachado {
    text-decoration: line-through;
    font-size: 18px;
    color: rgba(95, 93, 93, 0.603);
}

.bi-caret-up-square-fill {
    font-size: 32px;
    color: rgb(80, 77, 77);
}

.bi-caret-up-square-fill:hover {
    opacity: 0.8;
}

footer {
    background-color: #000;
    height: 90px;
}

.ft {
    display: flex;
    justify-content: center;
}

.bi-facebook,
.bi-instagram,
.bi-twitter {
    font-size: 10px;
    margin: 10px;
    color: #fff;
}

.bi-facebook:hover,
.bi-instagram:hover,
.bi-twitter:hover {
    opacity: 0.6;
}

.bi-paypal,
.bi-credit-card-fill {
    margin: 10px;
    font-size: 18px;
    color: #fff;
}

.bi-paypal:hover,
.bi-credit-card-fill:hover {
    opacity: 0.6;
}

.aviso {
    list-style: none;
}

.aviso>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.aviso>li>a:hover {
    opacity: 0.6;
}

.img-n {
    height: 300px;
}

.bg-i {
    background-image: url(../assets/group.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    width: auto;
}

.div-i {
    width: 30%;
    height: 70%;
    margin-top: 5%;
    padding: 1%;
    background-color: #7a7979ce;
    border: solid 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
}

.btn-i {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #000;
}

.btn:hover {
    background-color: #000;
}


@media screen and (max-width: 480px) {

    .categories-t {
        display: none;
    }

    #carrusel {
        height: 12rem;
    }

    .carousel-indicators {
        display: none;
    }


    #nuevo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nuevo>div {
        margin-bottom: 1rem;
    }


    #cards>div {
        margin-bottom: 1rem;
    }

    footer {
        font-size: 10px;
        padding: 1rem;
        align-items: center;
    }

    .banner-invierno {
        display: none;
    }
    
    .bi-heart,
    .bi-cart,
    .talle {
        opacity: 1;
    }

    .img-n {
        
        height: 200px;
        margin-top: 25px;
        margin-left: 12px;
    }
    
    iframe {
        height: 200px;
        width: 100%;
    }

    .div-i {
        width: 100%;
        margin-top: 5rem;
    }
    

}