/*------------- * Universal-------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "OpenSans-Regular.ttf";
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular.ttf";
  src: url(../fonts/static/OpenSans/OpenSans-Regular.ttf);
}

/*---------cambiar las fuentes de los title, ser mas especifico-------*/

header {
  height: 100px;
  width: 100%;
}

.logo {
  width: 200px;
  height: 200px;
  margin-top: -45px;
}

.menu {
  float: right;
  margin-top: 70px;
}

.menu-entry {
  display: inline;
  margin-left: 20px;
  margin-right: 15px;
  text-decoration: none;
  font-family: "PTSansNarrow-regular";
  font-size: 21px;
}

.inverse-color-text,
.inverse-color-hoverable,
.standard-color-hoverable:hover {
  color: #000000;
}

.inverse-color-bg,
.inverse-color-hoverable,
.standard-color-hoverable:hover {
  background-color: #ffc300;
}

/* .menu-entry a {
    padding-top: 100px;
    overflow: hidden;
} */

footer {
  width: 100%;
}

/*------------checkear el footer, hay que ajustar-----------*/

hr {
  border: solid 2px #ffc300;
}

.article-common {
  width: 100%;
  height: 500px;
}

.parallax-index {
  background: #ffc300 fixed no-repeat 50% 50%;
  background-size: cover;
}

#articleIndexUno {
  background-image: url(../assets/ArticleIndexUno.jpg);
}

#articleIndexDos {
  background-image: url(../assets/ArticleIndexDos.jpg);
}

#articleIndexTres {
  background-image: url(../assets/ArticleIndexTres.jpg);
}

/*------------Posible cambio en las imgenes--------------*/

.img-offers-index {
  display: block;
  width: 100%;
  height: 500px;
}

.h-centered {
  position: relative;
  text-align: center;
}

.article-font {
  font-size: 26px;
}

.v-40 {
  position: relative;
  top: 40%;
}

p {
  display: inline-block;
  font-size: 26px;
}

.v-50 {
  position: relative;
  top: 50%;
}

.h-centered-spaced>* {
  margin-left: 40px;
  margin-right: 40px;
}

.standard-color-text,
.standard-color-hoverable,
.inverse-color-hoverable:hover {
  color: #ffc300;
}

.standard-color-bg,
.standard-color-hoverable,
.inverse-color-hoverable:hover {
  background-color: #000000;
}

.follow-us {
  font-size: 12px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.sns-button {
  font-size: 22px;
}

.sns-button>*:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.img-box {
  height: 200px;
  width: 200px;
  margin: 40px;
  border-radius: 5px;
}

.img-box:hover {
  opacity: 0.8;
  transform: scale(1.2);
  box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s;
}

.deals-container {
  font-size: 21px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: right;
}

.left-aligned {
  text-align: left;
  margin-top: 100px;
  margin-left: 30px;
  max-width: 50%;
}

.img-about-us {
  height: 350px;
  width: 350px;
}

.right-aligned-abs {
  position: absolute;
  left: 0;
  margin-top: 50px;
  margin-left: 70%;
  margin-right: 50px;
}

#iframe {
  top: 80px;
  width: 400px;
  height: 300px;
}

/*cambiar*/

.registration {
  background-image: url(../assets/background-login.jpg);
  background-size: cover;
  font-size: 18px;
}

#registration-form {
  margin-left: 15px;
}

.light-bg,
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="radio"],
input[type="date"],
input[type="textarea"],
select {
  background-color: #e6e2a1;
  resize: none;
}

.right-align {
  font-size: 18px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: end;
}

a,
input[type="submit"],
input[type="reset"] {
  text-decoration: none;
}

a:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
}

.button {
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  border: #000000 solid 1px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.button-small {
  padding: 5px;
  font-size: 18px;
  height: 35px;
}