.carousel-inner {
    height: 600px;

    img {
        width: 100%;
        max-height: 600px;
    }
}

.bg-card {

    background-color: $colorPrincipal;
    color: $colorSecundario;

    .bi-clock,
    .bi-shield-check,
    .bi-emoji-sunglasses {
        font-size: 36px;
    }
}