.carousel-inner {
    height: 500px;

    img {
        width: 100%;
        max-height: 500px;
    }
}

.nav-item {
    @include fonts (18px, bold, $colorSecundario);
}

    .bg-card {
        background-color: map-get($informacion, fondo);
        color: map-get($informacion, color);
        text-align: map-get($informacion, posicion);
        font-weight: map-get($informacion, bold);
        font-size: map-get($informacion, sfont);
    }

    .bi-clock,
    .bi-shield-check,
    .bi-emoji-sunglasses {
        font-size: 2rem;
    }
