.carousel-inner {
    height: 500px;

    img {
        width: 100%;
        max-height: 500px;
    }
}

.nav-item {
    color: $colorSecundario;
    font-size: 20px;
    font-weight: bold;
}


.bg-card {
    background-color: $colorPrincipal;
    color: $colorSecundario;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.bi-clock,
.bi-shield-check,
.bi-emoji-sunglasses {
    font-size: 2rem;
}