.img-n {
    height: 60vh;
}

.f-n {
    @include fonts (21px, light, $colorPrincipal);
}

.acordeon {
    width: 80%;
}

.consulta {
    width: 70%;

    textarea {
        resize: none;
    }
}

iframe {
    height: 50vh;
}