.bg-r {
    background-image: url(../assets/group.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;

    .div-r {
        width: 25rem;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 1%;
        background-color: #ffffff85;
        border-radius: 5px;
        box-shadow: 0px 0px 14px 4px #00000087;
        -webkit-box-shadow: 0px 0px 14px 4px #00000087;
        -moz-box-shadow: 0px 0px 14px 4px #00000087;
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        .info {
            font-size: 14px;
        }
    }
}