.filtrar {

    border: 2px solid #d8d3d3;

    .categories-t {

        a {
            text-decoration: none;
            color: $colorPrincipal;
        }

        .categoria:hover {
            transform: scale(1.1);
        }
    }
}

.page-link {
    color: $colorPrincipal;

    &:hover {
        color: $colorPrincipal;
    }
}