/*-------------Universal-------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans-Regular.ttf";
    src: url(../fonts/static/OpenSans/OpenSans-Regular.ttf);
}

* {
    font-family: "OpenSans-Regular.ttf";
    font-style: normal;
}

.button {
    background-color: #FFC300;
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.logoPagina {
    width: 200px;
    height: 200px;
    margin-top: -45px;
}

#header {
    background-color: #000000;
    height: 100px;
    width: 100%;
}

.menu {
    display: inline;
    float: right;
    margin-top: 70px;
}

.menuNavegacion,
.listaMenu,
.menuNav {
    display: inline;
    margin-left: 20px;
    margin-right: 5px;
    color: #FFC300;
    text-decoration: none;
    font-family: "PTSansNarrow-regular";
    font-size: 21px;
    /* border: solid 2px #fff; */
}

.menuNav:hover {
    background-color: #FFC300;
    color: #000000;
}

#footer {
    background-color: #000000;
    width: 100%;
    text-align: center
}

.followUs {
    color: #FFC300;
    font-size: 12px
}

.redes-container {
    margin: auto;
    width: 200px;
    height: 50px;
}

.redes-container ul li {
    display: inline-block;
    margin: 2 px;
    width: 50px;
}

.redes-container ul li a {
    display: block;
    padding: 10px;
    font-size: 22px;
    color: #FFC300;
}

.redes-container ul li a:hover {
    opacity: 0.7;
    transform: scale(1.2)
}

hr {
    border: solid 2px #FFC300;
}

/*-------------HTML-home-------------*/

.parallaxIndex {
    background: #FFC300 fixed no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

#articleIndexUno {
    background-image: url(../assets/ArticleIndexUno.jpg);
    width: 100%;
    height: 500px;
}


.divParrafoIndex p {
    width: 400px;
    margin: 10px;
    text-align: center;
    color: #000000;
}

.parrafoIndex {
    position: absolute;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    top: 30%;
}

#articleIndexDos {
    background-image: url(../assets/ArticleIndexDos.jpg);
    width: 100%;
    height: 500px;
}

#articleIndexTres {
    background-image: url(../assets/ArticleIndexTres.jpg);
    width: 100%;
    height: 500px;
}

.btnIndexShop {
    width: 200px;
    height: 50px;
    margin-left: 580px;
    margin-top: 300px;
    background-color: #FFC300;
    border: #000000 solid 1px;
    font-size: 25px;
}

.btnIndexShop:hover {
    background-color: #000000;
    color: #FFC300;
}


.btnIndex {
    width: 200px;
    height: 50px;
    margin-left: 400px;
    margin-top: 300px;
    background-color: #FFC300;
    border: #000000 solid 1px;
    font-size: 25px;
}

.btnIndex:hover {
    background-color: #000000;
    color: #FFC300;
}

.btnApp {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    margin-top: 300px;
    background-color: #FFC300;
    border: #000000 solid 1px;
    font-size: 25px;
}

.btnApp:hover {
    background-color: #000000;
    color: #FFC300;
}

.imgOffersIndex {
    display: block;
    width: 100%;
    height: 400px;
}

/*-------------HTML-shop-------------*/

.bodyShop {
    background-color: #e6e2a1
}

.articulos {
    background-color: #000000;
    color: #FFC300;
    font-size: 32px;
    text-align: center;
}


.clasificacionShop {
    text-align: center;
    font-size: 24px;
}

.ropa {
    margin-left: 65px;
    
}

.imgShop {
    height: 200px;
    width: 200px;
    margin: 50px;
    border-radius: 5px;
}

.imgShop:hover {
    opacity: 0.8;
    transform: scale(1.2);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
    transition: transform .3s;
}

/*-------------HTML-offers-------------*/

.bodyOffers {
    background-color: #e6e2a1
}

#sectionOffers {
    padding-left: 100px;
}

.offers {
    text-align: center;
    background-color: #000000;
    color: #FFC300;
    font-size: 32px;
}

.registroBeneficios {
    font-size: 21px;
    margin: 5px;
    text-align: right;
}

.btnOffers {
    width: 200px;
    padding: 5px;
    font-size: 18px;
    background-color: #FFC300;
    border-radius: 5px;
}

.btnOffers:hover {
    background-color: #000000;
    color: #FFC300;
}

.imgOffers {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 40px;
}

.imgOffers:hover {
    opacity: 0.8;
    transform: scale(1.2);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.75);
    transition: transform .3s;
}

/*-------------HTML-about-------------*/

.sectionAbout {
    width: 100%;
    height: 400px;
    background-color: #000000;
    color: #FFC300;
}

.divAbout {
    height: 200px;
    width: 200px;
    display: inline;
    text-align: center;
    font-size: 20px;
}



.divAbout p {
    color: #FFC300;
    text-align: left;
    margin-top: 100px;
    margin-left: 50px;
    width: 500px;
    font-size: 20px;
}


.mejorar {
    background-color: #FFC300;
    color: #000000;
    font-size: 21px;
    padding: 20px;
}
.formAbout {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.btnAbout {
    background-color: #000000;
    color: #FFC300;
    width: 200px;
    height: 30px;
    font-size: 20px;
    margin-top: 5px;
    border: 5px;
}

.btnAbout:hover {
    background-color: #FFC300;
    color: #000000;
    border: solid 1px;
    border-color: #000000;

}

.direccion {
    width: 100%;
    height: 400px;
    background-color: #000000;
    text-align: left;
    color: #FFC300;
}

.direccion h3 {
    text-align: center;
    padding-left: 50px;
    font-size: 24px;
}

.direccion p {
    padding-left: 50px;
    font-size: 15px;
}

.iframe {
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 300px;
}





/*-------------HTML-login-------------*/

.login {
    background-color: #000000;
    color: #FFC300;
    font-size: 18px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: end;
}

.registro {
    background-image: url(../assets/background-login.jpg);
    background-size: cover;
    font-size: 18px;
}

.formulario {
    margin-left: 10px;
    outline-color: #FFC300;
    color: #FFC300;
}

input,
textarea,
select {
    border-radius: 5px;
    background-color: #e6e2a1;
    margin-left: 20px;
}

.btnLogin {
    width: 150px;
    height: 24px;
    background-color: #FFC300;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.btnLogin:hover {
    background-color: #000000;
    color: #FFC300;
    border-color: #FFC300;
}

.term {
    color: #FFC300;
}

.btnForm {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #FFC300;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    border: solid 1px;
}

.btnForm:hover {
    background-color: #000000;
    color: #FFC300;
    border: solid 1px #FFC300;
}