#header{
    background-color:black;
}

form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#content{
background-image: url(../assets/fondo.jpg);


}

.fondo{
    background-color: white;
    opacity: 50%;
    z-index: -1;
}

p{
background-color: black; 
z-index: 1;
}
.imagenInicio{
    display: inline;
}
.imagenInicio img{
    width: 30%;
    height: 30%;

}


.imagenInicio {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    color: aliceblue;
}

nav {
height: 100%;
}

.menuNavegacion {
    height: 100%;
    display: inline;
}

.navegacion{
    height: 50%;
    margin-left: 1%;
    display: inline;
    float: right;

}


.navegacion a{
    color: white;
    text-decoration: none;
}
.navegacion:hover{
    background-color: grey;
    
}

.imagenFooter{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}