.banner-invierno {
    height: 80px;
    margin-top: 30px;
    background-image: url(../assets/oferta-invierno.jpg);
    background-repeat: cover;

    span {
        padding-left: 10%;
        font-size: 64px;
        color: $colorSecundario;
        font-family: cursive;
        font-weight: bold;
    }
}

.form-select {
    cursor: pointer;
}